
html, body {
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.grid_container {
   display: grid;
   height: 100%;
   grid-template-columns: 150px 1fr;
   grid-template-rows: 50px 1fr 65px;
}

.topnav {
    background: #0081ad;
    grid-column: 1/3;
    grid-row: 1/1;
}

.topnav ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background: #333;
}

.topnav ul li {
    float: right;
}

.topnav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px; /* Need to figure out how to fill entire grid area space */
    text-decoration: none;
}

.topnav ul li a:hover {
    background-color: #ddd;
    color: black;
}

.messagebar {
    background: grey;
    grid-column: 1/1;
    grid-row: 2/4;
    /*grid-area: left;*/
}

.main {
    grid-column: 2/3;
    grid-row: 2/4;
    /*grid-area: main;*/
}

.typebar {
    background: #32527b;
    grid-column: 2/3;
    grid-row: 3/4;
    /*grid-area: typebar;*/
}

