
html, body {
    margin: 0;
    height: 100%;
    font-family: "Montserrat",sans-serif;
}

.grid_container {
    display: grid;
    height: 100%; /* important to define */
    grid-template-columns: 300px 2fr;
    grid-template-rows: 100px 1fr 80px;
}

.sidebar {
    grid-column: 1/1;
    grid-row: 1/4;
    background: #f2f2f2;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px 125px 1fr 80px;
}

    .sidebar .otamot_logo {
        grid-column: 1/1;
        grid-row: 1/2;
        display: block;
        margin: auto;
    }

    .sidebar .newMess_and_Search {
        grid-column: 1/1;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 75px 50px;
        justify-items: center;
        align-content: center;
        position: sticky;
    }

        .sidebar .newMess_and_Search .new_message_button {
            grid-column: 1/1;
            grid-row: 1/2;
            margin: auto;
            border: 1px solid white;
            border-radius: 5px;
            background-color: #65d6d1;
            width: 60%;
            height: 60%;
            padding: 5px 10px;
            outline-width: 0;

            font-family: "Montserrat", sans-serif;
            color: #7e7e7e;
            font-size: 16px;
            cursor: pointer;
        }

        .sidebar .newMess_and_Search input[type=text] {
            grid-column: 1/1;
            grid-row: 2/3;
            margin: auto;
            width: 80%;
            height: 30%;
            padding: 10px;
            font-size: 16px;
            border-radius: 10px;
            border: 2px solid white;
            outline-width: 0;
        }

    .sidebar .message_list {
        grid-column: 1/1;
        grid-row: 3/4;
        overflow: auto;
    }

        
    .links {
        grid-column: 1/1;
        grid-row: 4/5;
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }

        .links .settings{
            grid-column: 1/1;
            margin: auto;
            background-color: #f2f2f2;
            text-decoration: none;
            padding: 20px;
        }

        .links .logout{
            grid-column: 2/2;
            margin: auto;
            background-color: #f2f2f2;
            text-decoration: none;
            padding: 20px;
        }


        .links .settings:hover, .links .logout:hover {
            background-color: #ddd;
            color: black;
        }
     

.main {
    grid-column: 2/3;
    grid-row: 1/3;
    background: #D3D3D3;
    /* similar to scroll, adds scrollbars when necessary */
    overflow-x: hidden; /* horizontal */
    overflow-y: scroll; /* vertical */
}
    .main .message_area {
        position: relative;
        
    }

.messagebar {
    grid-column: 2/3;
    grid-row: 3/4;
    background: #f2f2f2;
    display: grid;  
}

    .messagebar input[type=text] {
        margin-top: 8px;
        margin-left: 8px;
        width: 30%;
        min-width: 200px;
        font-size: 16px;
        border-radius: 10px; /*rounds corners*/
        border: 2px solid white;
        padding: 10px;
        outline-width: 0; /*removes highlight of input field*/
    }

    .messagebar .send_btn {
        width: 70px;
        height: 35px;
        font-size: 16px;
        border: 1px solid white;
        border-radius: 20px;
        background-color: #65d6d1;
        cursor: pointer;
        outline-width: 0;
    }

.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* rgba used to not effect child elements */
    position: absolute; /* The element is positioned relative to its first positioned (not static) ancestor element */
    top: 0; /* defines the absolute position for bg-modal div */
    display: flex;
    justify-content: center; /* center div horizontally */
    align-items: center; /* center div vertically */
    display: none;
}

    .new_message_container {
        width: 500px;
        height: 300px;
        background-color: white;
        border-radius: 4px;
        text-align: center;
    }

    .new_message_container input {
        display: block;
        margin: 40px auto 20px auto;
        width: 60%;
        padding: 10px;
    }

    .new_message_container #feedback {
        margin: 0px auto;
        width: 50%;
        height: 15%;
    }

    .new_message_container button {
        margin: 20px auto;
        width: 15%;
        height: 15%;
        border: 1px solid black;
        border-radius: 4px;
        cursor: pointer;
    }
